
@media (min-width: 0px) {
    .AddCard {
      width: 70%;
      max-width:350px;
      height: 100vw; 
      min-height: 330px;
      min-width: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      margin-bottom: 50px;
      overflow: hidden;
      margin-top: 40px;
    }
  }
  @media (min-width: 900px) {
    .AddCard {
      width: 70%;
      max-width:350px;
      height: 50vw; 
      min-width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      border: 1px solid black;
      border-radius: 20px;
      margin-bottom: 50px;
      overflow: hidden;
      margin-top: 40px;
    }
  }