.AddMemberForm {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height:100%;
}
.AddMemberForm input {
    border-radius: 5px;
    width:100%;
}
.AddMemberForm label {
    align-self: center;
    color: #232c4b;
    padding-bottom: 5px;
}
.divForm {
    display: flex;
    flex-direction: column;
}
.formButton {
    align-self: center;
    padding-top: 5px;
}
.cardTitle {
    text-align: center;
    color: #232c4b;
}
