.AllMembersList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    list-style: none;
}

.AllMembersList li {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 40px);  
    box-sizing: border-box;
    display: flex; 
    flex-direction: column; 
    height: 100%; 
}